<table>
<tr>
<th>Original URL</th>
<th>Shortened URL</th>
</tr>

<% if @url != nil %>
<%  @url.each do |url| %>
    <tr>
    <td> <%= link_to url.long_url, url_path(url.id) %></td>
    <td> <%= link_to url.short_url, controller: :urls, action: :short, id: url %> </td>
    </tr>   
<% end %>
</table>
<% end %>

<%= link_to "Shorten a Url!", new_url_path %>